<div *ngIf="hero">

    <h2>{{hero.nom | uppercase}} Details</h2>
    <div>id: {{hero.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.nom" placeholder="name">
    </div>
    Power:<h2> {{hero.pouvoir}}</h2>
    
      <button type="button" (click)="save()">save</button>
    

    <button type="button" (click)="goBack()">back</button>
  
</div>

<!--Faire une fiche sympa avec avatar, nom pouvoir team et eventuellement des stats plus tard-->

