<div *ngIf="hero">

    <h2>{{hero.nom | uppercase}} Details</h2>
    <div>id: {{hero.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.nom" placeholder="name">
    </div>
    Power:<h2> {{hero.pouvoir}}</h2>
    <div>
      <form #addToTeamForm="ngForm" (ngSubmit)="onAddToTeam(addToTeamForm)">
        <label for="new-hero-team">Hero team:</label>

        <input type="text" ngModel name="team" id="new-hero-team"/>

        <button class="add-button" type="submit" id="new-hero-team">
            add to team
        </button>
    </form>
      <button type="button" (click)="save()">save</button>
    </div>

    <button type="button" (click)="goBack()">back</button>
  
</div>
