<div>
    <ul>
        <li *ngFor="let newHero of tabHeroes">

            <a routerLink="/hero/{{newHero.id}}">
                <span>{{newHero.id}} </span> {{newHero.nom}}
            </a>
            <button type="button" class="delete-button" (click)="onDeleteHero(newHero.id)">
                Delete hero
            </button>

        </li>
    </ul>
</div>

<div>
    <label for="nex-hero">Hero name:</label>
    <input id="new-hero" #heroName />

    <button type="button" class="add-button" (click)="onAddHero(heroName.value); heroName.value=''">
        Add hero
    </button>

    
</div>