<div>
    <ul>
        <li  *ngFor="let hero of tabHeroes">
            
            <a routerLink="/hero/{{hero.id}}">
                <span class="badge">{{hero.id}}</span> {{hero.nom}}
            </a>
            <button type="button" class="delete-button" (click)="onDeleteHero(hero.id)">
                Delete hero
            </button>

        </li>
    </ul>
</div>

<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Equipe</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hero of tabHeroes">
            <th scope="row">{{hero.id}}</th>
            <td>{{hero.nom}}</td>
            <td>todo: equipe? team.nom : Pas dans une équipe</td>
            <td>Bouton edit et delete</td>
          </tr>
        </tbody>
      </table>
</div>
<!--Bouton à centrer et lui donner la fonction onaddhero()-->
<div>
    <button type="button" class="btn btn-success">
        Ajouter un héros
    </button>
</div>

<div>
    <form #addForm="ngForm" (ngSubmit)="onAddHero(addForm)">
    <label for="new-hero-nom">Hero name:</label>

    <input type="text" ngModel name="nom" id="new-hero-nom" />

    <label for="new-hero-pouvoir">Hero power:</label>

    <input type="text" ngModel name="pouvoir" id="new-hero-pouvoir"/>

    <button class="add-button" [disabled]="addForm.invalid" type="submit" id="new-hero-add">
        Add hero
    </button>
    </form>

    
</div>